# LaTeX auxiliary / intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.run.xml

# System files
.DS_Store
Thumbs.db

# Tuỳ chọn: Bỏ comment dòng dưới nếu KHÔNG muốn đẩy file PDF lên GitHub
# *.pdf
